In [2]:
import pandas as pd

In [6]:
df=pd.read_csv(r'C:\Users\psc\OneDrive\Desktop\49\Student-Health-Risk-Prediction\data\raw\student_health_data.csv')
df.head()

,Student_ID,Age,Gender,Heart_Rate,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Stress_Level_Biosensor,Stress_Level_Self_Report,Physical_Activity,Sleep_Quality,...,Health_Risk_Level,Family_members,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,1,24,M,50.663217,122.173015,84.419860,3.137350,9.028669,High,Moderate,...,Moderate,2,NaN,NaN,NaN,NaN,NaN,NaN,Yes,No
1,2,21,F,57.926042,110.778407,75.696145,3.699078,5.819697,Moderate,Good,...,Moderate,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,22,M,59.294219,109.375673,83.803814,6.785156,5.892360,Low,Moderate,...,Moderate,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,24,M,76.826232,125.142227,78.091587,6.408509,6.884001,High,Poor,...,High,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,20,M,68.342769,107.515592,80.674937,7.264719,4.483450,Moderate,Poor,...,Moderate,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
#Remove Empty Columns
df=df.iloc[:,0:15]
df.head()

,Student_ID,Age,Gender,Heart_Rate,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Stress_Level_Biosensor,Stress_Level_Self_Report,Physical_Activity,Sleep_Quality,Mood,Study_Hours,Project_Hours,Health_Risk_Level,Family_members
0,1,24,M,50.663217,122.173015,84.419860,3.137350,9.028669,High,Moderate,Happy,34.520973,16.800956,Moderate,2
1,2,21,F,57.926042,110.778407,75.696145,3.699078,5.819697,Moderate,Good,Stressed,16.763846,15.791154,Moderate,1
2,3,22,M,59.294219,109.375673,83.803814,6.785156,5.892360,Low,Moderate,Happy,44.203798,25.678437,Moderate,12
3,4,24,M,76.826232,125.142227,78.091587,6.408509,6.884001,High,Poor,Happy,21.776645,20.808391,High,9
4,5,20,M,68.342769,107.515592,80.674937,7.264719,4.483450,Moderate,Poor,Happy,8.964999,15.194045,Moderate,7

In [13]:
df.shape

(1000, 15)

In [14]:
df.isnull().sum()

Student_ID                  0
Age                         0
Gender                      0
Heart_Rate                  0
Blood_Pressure_Systolic     0
Blood_Pressure_Diastolic    0
Stress_Level_Biosensor      0
Stress_Level_Self_Report    0
Physical_Activity           0
Sleep_Quality               0
Mood                        0
Study_Hours                 0
Project_Hours               0
Health_Risk_Level           0
Family_members              0
dtype: int64

In [18]:
from sklearn.model_selection import train_test_split

In [24]:
x_train, x_test, y_train, y_test = train_test_split(
    df.drop('Health_Risk_Level', axis=1),df['Health_Risk_Level'],
    test_size=0.2,
    random_state=42
)

In [25]:
x_train

,Student_ID,Age,Gender,Heart_Rate,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Stress_Level_Biosensor,Stress_Level_Self_Report,Physical_Activity,Sleep_Quality,Mood,Study_Hours,Project_Hours,Family_members
29,30,22,M,71.646978,139.309866,79.726681,2.109227,3.422078,Low,Poor,Neutral,25.001604,21.325778,5
535,536,19,F,58.813686,117.550188,76.384114,3.888973,5.587509,Moderate,Poor,Happy,42.145080,9.989480,12
695,696,20,F,56.345380,128.997890,83.386984,8.527407,5.033448,Moderate,Good,Neutral,23.690006,15.210066,7
557,558,24,M,82.144791,110.058233,81.725502,6.465920,2.791741,Moderate,Moderate,Stressed,18.852767,11.549296,13
836,837,23,F,75.212953,112.962765,66.553510,9.162870,7.512226,High,Good,Neutral,12.131888,15.935920,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,107,22,F,76.486363,119.547836,88.651986,1.353385,7.382626,Moderate,Poor,Happy,32.992365,17.470200,5
270,271,22,M,71.393426,143.219996,71.595291,7.897125,4.365448,High,Moderate,Neutral,38.630608,17.167276,12
860,861,21,F,65.016376,146.531577,69.774147,5.835481,5.087507,Moderate,Good,Neutral,40.541270,6.628864,1
435,436,18,F,76.294136,131.108863,72.421438,8.986821,4.766045,Moderate,Good,Happy,45.365342,13.134298,4
102,103,21,F,52.990064,149.410369,100.756375,5.020538,2.383744,High,Moderate,Neutral,22.510269,17.187122,11

In [28]:
y_train.shape

(800,)

In [29]:
x_train.shape

(800, 14)

In [34]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer

In [35]:
num_cols = [
    'Age','Heart_Rate','Blood_Pressure_Systolic','Blood_Pressure_Diastolic',
    'Stress_Level_Biosensor','Stress_Level_Self_Report',
    'Study_Hours','Project_Hours','Family_members'
]
cat_cols = ['Gender','Physical_Activity','Sleep_Quality','Mood']

In [40]:
#Numeric Pipeline
num_pipeline = Pipeline([
    ("imputer", SimpleImputer(strategy="median")),
    ("scaler", StandardScaler())
])
#Categorical Pipeline
cat_pipeline = Pipeline([
    ("imputer", SimpleImputer(strategy="most_frequent")),
    ("encoder", OneHotEncoder(handle_unknown="ignore"))
   
])
#Combine using ColumnTransformer
preprocessor = ColumnTransformer([
    ("num", num_pipeline, num_cols),
    ("cat", cat_pipeline, cat_cols)])

In [42]:
#Attach model to pipeline
from sklearn.ensemble import RandomForestClassifier

model = Pipeline([
    ("preprocessor", preprocessor),
    ("classifier", RandomForestClassifier(random_state=42))
])

In [43]:
model.fit(x_train, y_train)
print("Training complete âœ…")

Training complete âœ…

In [46]:
pred = model.predict(x_test)

In [48]:
from sklearn.metrics import accuracy_score, classification_report,confusion_matrix
print("Accuracy:", accuracy_score(y_test, pred))
print("Classification Report:\n", classification_report(y_test, pred))
print("Confusion Matrix:\n", confusion_matrix(y_test, pred))

Accuracy: 0.96
Classification Report:
               precision    recall  f1-score   support

        High       1.00      0.84      0.92        32
         Low       1.00      0.94      0.97        47
    Moderate       0.94      1.00      0.97       121

    accuracy                           0.96       200
   macro avg       0.98      0.93      0.95       200
weighted avg       0.96      0.96      0.96       200

Confusion Matrix:
 [[ 27   0   5]
 [  0  44   3]
 [  0   0 121]]

In [49]:
import joblib
joblib.dump(model, "../models/model.pkl")
print("Model saved successfully ðŸ’¾")

Model saved successfully ðŸ’¾